form{
    border: 3px solid chocolate;

}
input [type = text],
input[type = password]{
    width: 30%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    background-color: aqua;
    color: aliceblue;
    padding: 14px 20px ;
    border: none;
    cursor: pointer;
    width: 100%;
}